<div [ngClass]="{ 'dark text-white-dark': store.semidark }">

    <!-- SIDEBAR -->
    <nav
        class="sidebar fixed bottom-0 top-0 z-50 h-full min-h-screen w-[260px]
               shadow-[5px_0_25px_0_rgba(94,92,154,0.25)]
               transition-all duration-300"
        style="
            background-image: url('/assets/images/r/sidebar.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        "
    >

        <!-- 🔥 BLUR OVERLAY (NO WHITE) -->
       <div
  class="h-full backdrop-blur-sm"
  style="background: rgba(238, 229, 229, 0.25);"
>


            <!-- HEADER -->
            <div
                class="flex items-center justify-between px-4 py-3
                       border-b border-white/10"
            >
                <a routerLink="/dashboard" class="main-logo flex shrink-0 items-center">
                    <span
                        class="align-middle text-2xl font-semibold text-black
                               lg:inline ltr:ml-1.5 rtl:mr-1.5">
                        Vedik Astrologer
                    </span>
                </a>

                <a href="javascript:;"
                   class="collapse-icon flex h-8 w-8 items-center rounded-full
                          transition duration-300
                          hover:bg-white/10 hover:text-black
                          text-white rtl:rotate-180"
                   (click)="storeData.dispatch({ type: 'toggleSidebar'})">
                    <icon-carets-down class="m-auto rotate-90" />
                </a>
            </div>

            <!-- MENU -->
            <ng-scrollbar class="relative !h-[calc(100vh-80px)]" appearance="compact">
                <ul class="relative space-y-0.5 p-4 py-0 font-semibold">

                    <!-- DASHBOARD -->
                    <li class="accordion menu nav-item">
                        <button type="button"
                            class="nav-link group w-full hover:bg-white/10 rounded-lg"
                            [ngClass]="{ active: activeDropdown.includes('dashboard') }"
                            (click)="toggleAccordion('dashboard')">

                            <div class="flex items-center">
                                <icon-menu-dashboard
                                    class="shrink-0 text-white group-hover:!text-primary" />

                                <span
                                    class="text-white group-hover:text-white
                                           ltr:pl-3 rtl:pr-3">
                                    {{ 'dashboard' | translate }}
                                </span>
                            </div>

                            <div
                                class="text-white"
                                [ngClass]="{
                                  'rtl:rotate-90 -rotate-90':
                                  !activeDropdown.includes('dashboard')
                                }">
                                <icon-caret-down />
                            </div>
                        </button>

                        <div
                            [@slideDownUp]="!activeDropdown.includes('dashboard')"
                            class="accordion-content"
                        >
                            <ul class="sub-menu text-white/80">
                                <li>
                                    <a routerLink="/dashboard"
                                       routerLinkActive="active"
                                       class="hover:text-white"
                                       (click)="toggleMobileMenu()">
                                        Dashboard
                                    </a>
                                </li>
                                <li>
                                    <a routerLink="/add-student"
                                       routerLinkActive="active"
                                       class="hover:text-white"
                                       (click)="toggleMobileMenu()">
                                        Add Student
                                    </a>
                                </li>
                                <li>
                                    <a routerLink="/add-media"
                                       routerLinkActive="active"
                                       class="hover:text-white"
                                       (click)="toggleMobileMenu()">
                                        Add Media
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <!-- SHEDULES -->
                    <li class="accordion menu nav-item">
                        <button type="button" class="nav-link group w-full"
                            [ngClass]="{ active: activeDropdown.includes('shedules') }"
                            (click)="toggleAccordion('shedules')">
                            <div class="flex items-center">
                                <icon-menu-notes class="shrink-0 group-hover:!text-primary" />
                                <span
                                    class="text-black dark:text-[#506690] dark:group-hover:text-white-dark ltr:pl-3 rtl:pr-3">
                                    Shedules Master
                                </span>
                            </div>
                            <div [ngClass]="{ 'rtl:rotate-90 -rotate-90': !activeDropdown.includes('shedules') }">
                                <icon-caret-down />
                            </div>
                        </button>

                        <div [@slideDownUp]="!activeDropdown.includes('shedules')" class="accordion-content">
                            <ul class="sub-menu text-gray-600 dark:text-gray-400">
                                <li><a routerLink="/shedules" routerLinkActive="active">Add Slots</a></li>
                                <li><a routerLink="/close-slots" routerLinkActive="active">Close Slots</a></li>
                                <li><a routerLink="/reshedul-appointment" routerLinkActive="active">Reschedule</a></li>
                            </ul>
                        </div>
                    </li>

                    <!-- APPOINTMENT -->
                    <li class="accordion menu nav-item">
                        <button type="button" class="nav-link group w-full"
                            [ngClass]="{ active: activeDropdown.includes('add-appointment') }"
                            (click)="toggleAccordion('add-appointment')">
                            <div class="flex items-center">
                                <icon-menu-notes class="shrink-0 group-hover:!text-primary" />
                                <span
                                    class="text-black dark:text-[#506690] dark:group-hover:text-white-dark ltr:pl-3 rtl:pr-3">
                                    Appointment
                                </span>
                            </div>
                            <div
                                [ngClass]="{ 'rtl:rotate-90 -rotate-90': !activeDropdown.includes('add-appointment') }">
                                <icon-caret-down />
                            </div>
                        </button>

                        <div [@slideDownUp]="!activeDropdown.includes('add-appointment')" class="accordion-content">
                            <ul class="sub-menu text-gray-600 dark:text-gray-400">
                                <li><a routerLink="/add-appointment" routerLinkActive="active">Add Appointment</a></li>
                            </ul>
                        </div>
                    </li>

                    <!-- BATCH MASTER -->
                    <li class="accordion menu nav-item">
                        <button type="button" class="nav-link group w-full"
                            [ngClass]="{ active: activeDropdown.includes('batch') }"
                            (click)="toggleAccordion('batch')">
                            <div class="flex items-center">
                                <icon-menu-users class="shrink-0 group-hover:!text-primary" />
                                <span
                                    class="text-black dark:text-[#506690] dark:group-hover:text-white-dark ltr:pl-3 rtl:pr-3">
                                    Batch Master
                                </span>
                            </div>
                            <div [ngClass]="{ 'rtl:rotate-90 -rotate-90': !activeDropdown.includes('batch') }">
                                <icon-caret-down />
                            </div>
                        </button>

                        <div [@slideDownUp]="!activeDropdown.includes('batch')" class="accordion-content">
                            <ul class="sub-menu text-gray-600 dark:text-gray-400">
                                <li><a routerLink="/create-batch" routerLinkActive="active">Create Batch</a></li>
                                <li><a routerLink="/assign-batch" routerLinkActive="active">Assign Students</a></li>
                                <li><a routerLink="/class-schedule" routerLinkActive="active">Class Schedule</a></li>
                            </ul>
                        </div>
                    </li>

                    <!-- OTHER SERVICES -->
                    <li class="accordion menu nav-item">
                        <button type="button" class="nav-link group w-full"
                            [ngClass]="{ active: activeDropdown.includes('other services') }"
                            (click)="toggleAccordion('other services')">
                            <div class="flex items-center">
                                <icon-menu-notes class="shrink-0 group-hover:!text-primary" />
                                <span
                                    class="text-black dark:text-[#506690] dark:group-hover:text-white-dark ltr:pl-3 rtl:pr-3">
                                    Other Services
                                </span>
                            </div>
                            <div [ngClass]="{ 'rtl:rotate-90 -rotate-90': !activeDropdown.includes('other services') }">
                                <icon-caret-down />
                            </div>
                        </button>

                        <div [@slideDownUp]="!activeDropdown.includes('other services')" class="accordion-content">
                            <ul class="sub-menu text-gray-600 dark:text-gray-400">
                                <li><a routerLink="/add-services" routerLinkActive="active">Add Services</a></li>
                                <li><a routerLink="/services-dashboard" routerLinkActive="active">Services Dashboard</a></li>
                            </ul>
                        </div>
                    </li>

                </ul>
            </ng-scrollbar>
        </div>
    </nav>
</div>
