<div class="form-wrapper">
  <h2>Add New Student</h2>

  <form [formGroup]="studentForm" (ngSubmit)="onSubmit()" class="student-form">

    <div class="form-row">
      <label>First Name</label>
      <input type="text" formControlName="first_name" />
    </div>

    <div class="form-row">
      <label>Last Name</label>
      <input type="text" formControlName="last_name" />
    </div>

    <div class="form-row">
      <label>Email</label>
      <input type="email" formControlName="email" />
    </div>

    <!-- PASSWORD -->
    <div class="form-row">
      <label>Password</label>
      <input
        type="password"
        formControlName="password"
        autocomplete="new-password"
        (copy)="false"
        (paste)="false"
        (cut)="false"
      />
    </div>

    <!-- CONFIRM PASSWORD -->
    <div class="form-row">
      <label>Confirm Password</label>
      <input
        type="password"
        formControlName="confirm_password"
        autocomplete="new-password"
        (copy)="false"
        (paste)="false"
        (cut)="false"
      />
      <small class="error"
        *ngIf="studentForm.errors?.['passwordMismatch'] && studentForm.get('confirm_password')?.touched">
        Passwords do not match
      </small>
    </div>

    <div class="form-row">
      <label>Phone No</label>
      <input type="text" formControlName="phone_no" />
    </div>

    <button type="submit" [disabled]="studentForm.invalid">
      Add Student
    </button>
  </form>

  <p class="success-msg" *ngIf="message">{{ message }}</p>
</div>
